/* Clip tile styles */
.clip {
    display: inline-block;
    width: 350px;
    margin: 15px;
    padding: 15px;
    background-color: #F1F1F1;
    color: #262626;
    cursor: default;
    font-size: 13px; background-color 0.1s ease;
}
.clip:hover {
    background-color: #EAEAEA;
}

/* Header styles */
.clip .clip-header {
    line-height: 13px;
    font-size: 11px;
    margin-bottom: 8px;
}
.clip .clip-header::after {
    display: block;
    content: ' ';
    clear: both;
}
.clip .clip-header .icon {
    margin-left: 4px;
}

/* Thumbnail and preview styles */
.clip .clip-thumbnail {
    position: relative;
    width: 100%;
    padding-bottom: calc(100% * 9 / 16);
}

.clip .clip-thumbnail a,
.clip .clip-thumbnail video,
.clip .clip-thumbnail .cover,
.clip .clip-thumbnail .loading,
.clip .clip-thumbnail .cover.replacement span {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.clip .clip-thumbnail .cover {
    z-index: 50;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.clip .clip-thumbnail .cover.hide {
    opacity: 0;
}
.clip .clip-thumbnail .cover.replacement {
    background-color: #B9A3E3;
}
.clip .clip-thumbnail .cover.replacement span {
    display: inline-block;
    top: calc(50% - 6px);
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    height: auto;
}

.clip .clip-thumbnail video {
    z-index: 0;
}

.clip .clip-thumbnail .loading {
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.15s ease;
}
.clip .clip-thumbnail .loading.active {
    opacity: 1;
}
.clip .clip-thumbnail .loading .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    font-size: 24px;
    color: #B9A3E3;
    transform-origin: 12px 11.5px;
}

/* Info section styles */
.clip .clip-info {
    margin-top: 5px;
    font-size: 12px;
}
.clip .clip-info .title {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}
.clip .clip-info .cast {
    font-size: 11px;
}

/* Animation */
.rotate {
    animation-duration: 0.7s;
    animation-name: rotate-keyframes;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-keyframes {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
