/* Layout styles */
.header {
    width: 100%;
    padding: 0px 15px;
    background-color: #6441A5;
}

.clips-container {
    width: 100%;
    padding: 30px;
}

.pull-left {
    float: left;
    text-align: left;
}

.pull-right {
    float: right;
    text-align: right;
}

.icon {
    color: #6441A5;
    font-size: 13px;
}

/* Header styles */
.header button {
    margin-right: -4px;
}

.header .header-icon {
    display: inline-block;
}

.header .header-icon .icon {
    display: inline-block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 15px;
    padding: 14px;
    cursor: pointer;
    width: 43px;
    text-align: left;
    transition: background-color 0.15s ease;
}
.header .header-icon .icon:hover {
    background-color: #462D73;
}
